.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store

# data too large
data/glodap_500-2000m.geojson
data/glodap_500-2000m.rds

# videos
videos/.DS_Store
videos/module1/r_module1_segment12 -- output directories
videos/module1/r_module1_segment13 -- export figures.mov
videos/module1/r_module1_segment11.mov
