.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store

# data too large
data/glodap_500-2000m.geojson
data/glodap_500-2000m.rds

# videos
videos/.DS_Store
videos/module1/r_module1_segment7d -- ingesting data into R.mov
videos/module1/r_module1_segment8 -- convert to sf object.mov
videos/module1/r_module1_segment9 -- interactive mapping.mov
videos/module1/r_module1_segment10-- static mapping.mov
videos/module1/r_module1_segment11.mov
videos/module1/r_module1_segment11 -- static mapping 2.mov
videos/module1/r_module1_segment12 -- output directories.mov
videos/module1/r_module1_segment13 -- export figures.mov

